@inject SignInManager<IdentityUser> SignInManager;

<nav class="nav-bar">
    <div class="logo">
        <h1>CRUD</h1>
    </div>

    <div class="nav-list">
        <ul>
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-page="Index">Ver produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="RegisterProducts">Cadastrar produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="Logout">Perfil</a>                  
                </li>
            } else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-page="Login">Entrar</a>
                </li>
            }
        </ul>
    </div>

    <div class="mobile-menu-icon">
        <button>
            <img class="menu-button icon" src="~/img/menu_white_100px.png" />
        </button>
    </div>
</nav>

<div class="mobile-menu">
    <div class="nav-list">
        <ul>
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-page="Index">Ver produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="RegisterProducts">Cadastrar produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="Logout">Perfil</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-page="Login">Entrar</a>
                </li>
            }
        </ul>
    </div>
</div>