@page "/Account/AccessDenied"
@model RazorCrud.Pages.AccessDeniedModel
@{
}
<h1>Acesso negado!</h1>
<form method="post" class="form">
    <div class="form-group">
        
        <p>Você não tem autorização para acessar esta página.</p>
    </div>
    <div class="form-group">
        <input type="submit" value="Ok"/>
    </div>
</form>
